.table {
  margin: 10px auto;
  padding: 0;
  border-collapse: collapse;
  page-break-before: always;
  page-break-after: always;
  font-weight: bold;
  font-family: '楷体';
  td {
    text-align: center;
    border: 1px dashed #000;
    & > div {
      vertical-align: middle;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }
  tfoot {
    text-align: right;
  }
}

@media print {
  .table {
    margin: 1mm auto;
    tfoot {
      display: none;
    }
  }
}
